.image-scroll{
    position: relative;
    overflow: hidden;

    img{
        width: 100%;
        display: block;
    }
}

.animate{
    position: absolute;
    --speed-of-scroll: 600s;
    transition: bottom var(--speed-of-scroll) linear, top var(--speed-of-scroll) linear;
}