.authentication-content{
    background-color: var(--main-background);
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-columns: 25% 50% 25%;

    .auth-space{
        position: relative;
        z-index: 1;

        &::before,
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &::after{
            box-shadow: -8px 0 8px 2px rgba(0, 0, 0, 0.75);
        }

        &::before{
            box-shadow: 8px 0 8px 2px rgba(0, 0, 0, 0.75);
        }
    }
}