.album-details{
    position: relative;
    isolation: isolate;
    height: calc(100vh - var(--nav-height));
    overflow: hidden;

    .scroll-area{
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(100vh - var(--nav-height));
        height: calc(100dvh - var(--nav-height));
        overflow-y: auto;
    }

    .background-img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        filter: blur(5px);
    }

    .detail-content{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}