.photos{
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.photo{
    img{
        display: block;
        height: 18rem;
    }

    .photo-text{
        display: grid;
        padding-inline: .5rem;
    }
}