.day-form{
    background-color: var(--main-background-faded);
    color: var(--off-white);
    padding: 2rem;
    width: 100%;
    border-radius: 5px;
    margin-top: 2rem;

    .photo-area{
        margin-top: .5rem;
        display: flex;
    }

    .city-form{
        display: flex;
        isolation: isolate;
    }

    .today-entry{

        textarea{
            width: 100%;
        }

        .above-textarea{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: .5rem;
            isolation: isolate;
        }
    }

    .form-options{
        display: flex;
        justify-content: space-evenly;

        button{
            width: 14rem;
        }
    }

    .mapbox-search{
        margin-top: 1.5rem;

        &:hover{
            cursor: text;
        }

        span{
            color: var(--highlight);
            transform: translateY(calc(-1 * (var(--sm-text) + (var(--xsm-padding)*2))));
            font-size: var(--xsm-text);
        }

        i{
            height: calc(var(--sm-text) + (var(--xsm-padding)*3));
        }
    }
}