.register-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-effect{
    background-color: rgba(53, 51, 50, 0.5);
    border-radius: 12px;
    padding: .25rem;
    overflow: hidden;
}

.register-form{
    background-color: var(--sub-background);
    border-radius: 8px;
    width: 500px;
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .register-title{
        display: flex;
        flex-direction: column;

        h1{
            font-size: var(--lg-text);
            text-align: center;
            color: var(--off-white);
        }

        .links{
            position: relative;
            z-index: 10;
            align-self: flex-end;
            font-size: var(--xsm-text);
            background-color: transparent;
            color: var(--highlight);
            border: none;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}